@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.Ad.Localization
@model Lazy.Abp.Ad.Web.Pages.Ad.IndexModel
@inject IStringLocalizer<AdResource> L
@{
}
<h1>Ad</h1>
<p>@L["SamplePageMessage"]</p>
